@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Poppins',
    sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img-card-tourism {
  height: 200px;
  object-fit: cover;
}

.descrp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* custom css start from here */
#root main {
  min-height: 100vh;
}

.header-link>a {
  color: white;
  transition: none;
}

.header-link>a:hover {
  background-color: #0b8fc4;
  border-radius: 10px;
  color: white;
}

.nav-link-admin button {
  color: white;
  background-color: transparent;
  transition: none;
  border: none;
}

.nav-link-admin button:hover {
  background-color: #0b8fc4;
  border-radius: 10px;
  color: white;
}

#collasible-nav-dropdown {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}

footer {
  background-color: #e8f9fd;
  top: 100%;
  height: 50px;
}

.jumbotron {
  display: flex;
  align-items: center;
}

.jumbotron-img {
  object-fit: cover;
  width: 100%;
  height: 95vh;
  filter: brightness(70%);
}

.jumbotron-text-overlay {
  width: 80%;
  position: absolute;
  margin-left: 20px;
  color: white;
}

.jumbotron-text-overlay h1 {
  font-size: 4.2vw;
}

.jumbotron-text-overlay p {
  font-size: 2vw;
}

.jumbotron-text-overlay button {
  padding: 3px 15px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #0aa1dd;
  font-size: 1.2vw;
}

.jumbotron-text-overlay button:hover {
  background-color: #0893ca;
}

.not-found {
  background-color: #eee;
  width: 70%;
}

.not-found>* {
  margin: 0;
}

.not-found .warning-icon {
  font-size: 20vw;
}

.not-found h1 {
  font-size: 5vw;
}

.not-found p {
  font-size: 1.5vw;
}

.invalid {
  border: 1px solid red !important;
  border-radius: 0.375rem !important;
}

.invalid:focus {
  border-color: red !important;
  box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.75) !important;
}

@media screen and (min-width: 768px) {
  .jumbotron-text-overlay {
    width: 50%;
  }

  .jumbotron-text-overlay h1 {
    font-size: 3vw;
  }

  .jumbotron-text-overlay p {
    font-size: 1.5vw;
  }

  .jumbotron-text-overlay button {
    font-size: 1.2vw;
  }
}

/* Side bar */

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

header {
  color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 17rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.4s ease;
}

.page-content {
  width: calc(100%-17rem);
  margin-left: 17rem;
  transition: all 0.4s ease;
}

.sidebar_active {
  margin-left: -17rem;
}

.content_active {
  width: 100%;
  margin: 0;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed white;
}

.nav-link {
  text-transform: capitalize;
}

.nav-link:hover {
  background-color: #f3f2f2;
}

@media (max-width: 768px) {
  .sidebar {
    margin-left: -17rem;
  }

  .sidebar_active {
    margin-left: 0;
  }

  .content {
    width: 100%;
    margin: 0;
  }

  .content_active {
    margin-left: 17rem;
    width: calc(100%-17rem);
  }

  /* Jumbotron */

  .jumbotron-text-overlay {
    width: 90%;
    position: absolute;
    margin-left: 20px;
    color: white;
  }

  .jumbotron-text-overlay h1 {
    font-size: 5.2vw;
  }

  .jumbotron-text-overlay p {
    font-size: 3vw;
  }

  .jumbotron-text-overlay button {
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #0aa1dd;
    font-size: 2.2vw;
  }

  .jumbotron-text-overlay button:hover {
    background-color: #0893ca;
  }
}

@media (max-width: 350px) {
  .jumbotron-text-overlay {
    width: 90%;
    position: absolute;
    margin-left: 20px;
    color: white;
  }

  .jumbotron-text-overlay h1 {
    font-size: 7.2vw;
  }

  .jumbotron-text-overlay p {
    font-size: 4vw;
  }

  .jumbotron-text-overlay button {
    padding: 8px 23px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #0aa1dd;
    font-size: 4.2vw;
  }

  .jumbotron-text-overlay button:hover {
    background-color: #0893ca;
  }
}

/* Floating Button */

.floating {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0aa1dd;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 99;
  border: 0;
}